/* ProfileCard.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0; /* Set your desired background color */
}

.header input {
  padding: 5px;
  margin-right: 10px;
}

.header button {
  padding: 8px;
  background-color: #4caf50; /* Set your desired button color */
  color: #fff;
  cursor: pointer;
  border: none;
}
.ProfileCard {
  width: calc(33.33% - 40px); /* Adjust the width based on your design */
  margin: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProfileCardHeader {
  height: 180px;
  overflow: hidden;
}

.ProfileCardHeader img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.ProfileCardBody {
  text-align: center;
  padding: 20px;
}

.ProfileCardBody .Typography-h4 {
  color: #333;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.ProfileCardBody .Typography-font-medium {
  color: #555;
  font-size: 1.4rem;
}

.ProfileCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #ddd;
}

.ProfileCardFooter button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.ProfileCardFooter button:hover {
  background-color: #0056b3;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #555;
}

.pagination span {
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}