/* ProfileCard.css */
.ProfileCard {
  width: calc(33.33% - 40px); /* Adjust the width based on your design */
  margin: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProfileCardHeader {
  height: 180px;
  overflow: hidden;
}

.ProfileCardHeader img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.ProfileCardBody {
  text-align: center;
  padding: 20px;
}

.ProfileCardBody .Typography-h4 {
  color: #333;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.ProfileCardBody .Typography-font-medium {
  color: #555;
  font-size: 1.4rem;
}

.ProfileCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #ddd;
}

.ProfileCardFooter button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.ProfileCardFooter button:hover {
  background-color: #0056b3;
}
