.navbar {
    background-color:grey;
    color: #fff;
    padding: 5px 5px;
    display: flex;
    justify-content: flex-end; /* Align the logout button to the right */
    height:50px;
  }
  
  .navbar button {
   
    background-color: #e74c3c;
    height:30px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #c0392b;
  }
  
  